@function font-size($n) {
	@return ($n / 16px) + rem;
}

$primary-color: #0d3a7f;
$secondary-color: #16c2b8;
$border-color: rgba(140, 160, 191, 0.4);

.col-aside {
    @media only screen and (min-width: 768px) {
        width: 35%;
    }
}

.col-main {
    width: 65%;
}

.header {
	display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    line-height: 60px;
    background-color: #ebf3ff;
    &__logo {
        order: 2;
        display: inline-block;
        margin-right: auto;
        margin-left: 20px;
        text-decoration: none;
    }
    &__navigation {
        order: 2;
        display: flex;
    }
    &__menu-toggler {
        order: 1;
        width: 60px;
        padding: 0;
        color: $primary-color;
        background-color: transparent;
        box-shadow: none;
        border: 0;
        border-right: solid 1px $border-color;
        outline: none;
    }
    &__link {
        display: none;
        order: 2;
        width: 60px;
        text-align: center;
        border-left: solid 1px $border-color;
    }
    &__link-cart {
        order: 2;
        width: 60px;
        text-align: center;
        background-color: $primary-color;
    }
	@media only screen and (min-width: 768px) {
        background-color: #fff;
        &__menu-toggler {
            display: none;
        }
        &__logo,
        &__navigation,
        &__menu-toggler {
            order: 0;
        }
        &__logo {
            margin: 0;
            background-color: #ebf3ff;
        }
        &__navigation {
            margin-right: auto;
            padding: 0 20px 0;
        }
        &__link,
        &__link-cart {
            display: inline-block;
            width: 44px;
        }
    }
    @media only screen and (min-width: 900px) {
        &__link,
        &__link-cart {
            width: 80px;
        }
    }
    @media only screen and (min-width: 1024px) {
        &__navigation {
            padding: 0 40px 0;
        }
    }
    @media only screen and (min-width: 1366px) {
        &__navigation {
            padding: 0 90px 0;
            margin-right: auto;
        }
    }
}

.menu {
    display: none;
    &__link {
        display: inline-block;
        font-size: font-size(11px);
        font-weight: 600;
        transition: color 0.2s ease-in;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
    &.menu--open {
        flex-direction: column;
        display: block;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #ebf3ff;
        border-top: 1px solid $border-color;
        z-index: 2;
        .menu__item {
            margin-left: 1rem;
            display: block;
        }
        .menu__link {
            width: 100%;
            color: $primary-color;
            padding: 0;
            text-transform: uppercase;
        }
    }
	@media only screen and (min-width: 768px) {
        display: flex;
        &__item {
            margin-right: 22px;
            &:last-child {
                margin-right: 0;
            }
        }
        &__link {
            color: #364459;
            &:hover {
                color: lighten($primary-color, 5%);
            }
        }
    }
    @media only screen and (min-width: 900px) {
        font-size: font-size(12px);
    }
    @media only screen and (min-width: 1366px) {
        &__item {
            margin-right: 80px;
        }
	}
}

.icon-logo {
    width: 108px;
    height: 44px;
}

.icon-menu {
	width: 24px;
	height: 24px;
	stroke: $primary-color;
	stroke-width: 1px;
	stroke: currentColor; 
	stroke-linecap: round;
	stroke-linejoin: round;
}

.icon-phone {
    width: 18px;
    height: 18px;
}

.icon-user {
    width: 13px;
    height: 19px;
}

.icon-cart {
	width: 27px;
	height: 21px;
}

.icon-arrow-right {
    width: 40px;
    height: 28px;
}

.padding-left {
    @media only screen and (min-width: 768px) {
        padding-left: 1rem;
    }
    @media only screen and (min-width: 900px) {
        padding-left: 80px;
    }
    @media only screen and (min-width: 1366px) {
        padding-left: 130px;
    }
}

.top-section {
    min-height: calc(100vh - 60px);
    padding: 100px 20px 0 20px;
    background-image: url('../assets/img/jasper-van-der-meij-97274-unsplash.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (min-resolution: 2dppx) {
        background-image: url('../assets/img/jasper-van-der-meij-97274-unsplash@2x.jpg');
    }
    @media (min-resolution: 3dppx) { 
        background-image: url('../assets/img/jasper-van-der-meij-97274-unsplash@3x.jpg');
    }
    @media only screen and (min-width: 768px) {
        display: flex;
        position: relative;
        min-height: auto;
        padding: 0;
        background-image: none;
        background-color: $primary-color;
    }
}

.create-login-block {
    width: 100%;
    padding-bottom: 110px;
    text-align: center;
    &__title {
        margin: 0 0 8px;
        font-size: font-size(36px);
        font-weight: 200;
        color: #fff;
        letter-spacing: 0.1em;
    }
    &__mark {
        display: inline-block;
        padding-right: 0.5em;
        text-align: left;
        background: linear-gradient(90deg,rgba(22, 194, 184, 0.5) 0,rgba(246,41,12,0));
        color: #fff;
    }
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        color: #fff;
        line-height: 22px;
        font-size: font-size(14px);
        font-weight: 300;
    }
    &__create-acc {
        margin-bottom: 10px;
    }
    &__link {
        color: $secondary-color;
        transition: color 0.2s ease-in;
        &:hover {
            cursor: pointer;
            color: darken($secondary-color, 5%);
        }
    }
    &__text {
        width: 100%;
        margin: 0 0 30px;
        letter-spacing: 0.06em;
        &--small {
            font-size: font-size(12px);
            letter-spacing: 0.05em;
        }
    }
    @media only screen and (min-width: 768px) {
        padding-top: 40px;
        padding-right: 1rem;
        text-align: left;
        &__body {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0;
        }
        &__title {
            font-size: font-size(28px);
            letter-spacing: normal;
        }
        &__text {
            margin-bottom: 24px;
        }
    }
    @media only screen and (min-width: 1024px) {
        padding-top: 96px;
        &__title {
            font-size: font-size(32px);
        }
        &__text {
            margin-bottom: 30px;
        }
    }
    @media only screen and (min-width: 1366px) {
        padding-top: 96px;
        &__title {
            font-size: font-size(48px);
        }
    }
}
.slider {
    display: none;
    @media only screen and (min-width: 768px) {
        display: block;
    }
}
.link-like-btn {
    display: block;
    padding: 1.7em 3.2em;
    text-align: center;
    letter-spacing: 0.05em;
    background-color: $secondary-color;
    color: #fff;
    font-size: font-size(12px);
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in;
    &:hover {
        background-color: darken($secondary-color, 5%)
    }
}

.form {
    @media only screen and (min-width: 768px) {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 1rem;
        right: 1rem;
        width: calc(100% - 2rem);
        box-shadow: 0 6px 21px 0 rgba(140, 160, 191, 0.24);
        z-index: 1;
    }
    @media only screen and (min-width: 900px) {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 80px;
        right: 80px;
        width: calc(100% - 160px);
        box-shadow: 0 6px 21px 0 rgba(140, 160, 191, 0.24);
    }
    @media only screen and (min-width: 1366px) {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 130px;
        right: 130px;
        width: calc(100% - 260px);
        box-shadow: 0 6px 21px 0 rgba(140, 160, 191, 0.24);
    }
}
.input {
    width: 100%;
    height: 60px;
    padding: 0 24px 0 52px;
    background-repeat: no-repeat;
    background-position: 18px 50%;
    border-width: 0 0 1px 0;
    border-color: $border-color;
    font-size: font-size(14px);
    letter-spacing: 0.03em;
    transition: 
        transform 0.2s ease-in,
        background-color 0.2s ease-in;
    &:last-child{
        border-bottom: none;
    }
    &::placeholder { 
        color: #364459;
        font-size: font-size(14px);
        font-weight: 500;
    }
    &:focus::placeholder { 
        opacity: 0.3;
    }
    &--place {
        background-image: url(../assets/img/icon-pin.svg);
        background-size: 18px 28px;
        background-position: 24px 50%;
    }
    &--date {
        position: relative;
        background-image: url(../assets/img/icon-calendar.svg);
        background-size: 26px 24px;
        transform: translateY(-60px);
        z-index: -1;
    }
    &--duration {
        position: relative;
        background-image: url(../assets/img/icon-bed.svg);
        background-size: 24px 24px;
        transform: translateY(-120px);
        z-index: -1;
    }
    &--submit {
        position: relative;
        padding: 0;
        background-color: $secondary-color;
        border: none;
        transform: translateY(-180px);
        z-index: -1;
        &:hover {
            background-color: darken($secondary-color, 5%)
        }
    }
    &--place.active~.input--date,
    &--place.active~.input--duration,
    &--place.active~.input--submit {
        transform: translateY(0);
        z-index: 0;
    }
    @media only screen and (min-width: 768px) {
        &--date,
        &--duration,
        &--submit {
            transform: translateY(0);
            z-index: 0;
        }
        &--place {
            width: 50%;
            border-width: 0 1px 0 0;
        }
        &--date {
            width: 20%;
            border-width: 0 1px 0 0;
        }
        &--duration {
            width: 20%;
            border-width: 0 1px 0 0;
        }
        &--submit {
            width: 10%;
            border-width: 0;
        }
    }
}

.swiper-container {
    width: 100%;
    height: 410px;
    @media only screen and (min-width: 1024px) {
        height: 500px;
    }
    @media only screen and (min-width: 1366px) {
        height: 580px;
    }
}

.swiper-slide {
    &__content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('../assets/img/johannes-ludwig-348591-unsplash.jpg');
        background-position: top left;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__label {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 22px 18px 15px;
        background-color: #317b6c;
        color: #fff;
        z-index: 1;
    }
    &__small-text {
        text-transform: uppercase;
        font-weight: 800;
        font-size: font-size(10px);
        letter-spacing: 0.3em;
        opacity: 0.42;
    }
    &__text {
        text-transform: lowercase;
        font-weight: 800;
        font-size: font-size(36px);
        letter-spacing: 0.1em;
        opacity: 0.65;
    }
    @media (min-resolution: 2dppx) {
        &__content {
            background-image: url('../assets/img/johannes-ludwig-348591-unsplash@2x.jpg');
        }
    }
    @media (min-resolution: 3dppx) {
        &__content {
            background-image: url('../assets/img/johannes-ludwig-348591-unsplash@2x.jpg');
        }
    }
    @media only screen and (min-width: 768px) {
        &__small-text {
            font-size: font-size(8px);
        }
        &__text {
            font-size: font-size(20px);
        }
    }
    @media only screen and (min-width: 1366px) {
        &__small-text {
            font-size: font-size(10px);
        }
        &__text {
            font-size: font-size(36px);
        }
    }
}


.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}


@media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
}

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}